:root {
  --primary-color: #0d8d82;
  --dark-color: #3e9d59;
  --light-color: #3fa18d;
  --lose-color: #dc3545;
  --win-color: #28a745;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
  background: rgb(59, 93, 130);
  color: rgb(0, 0, 0);
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0;
  text-align: center;
}

.restart-btn {
  display: none;
  background:var(--light-color);
  color: rgb(37, 34, 34);
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  margin-bottom: 1rem;
}

.restart-btn:hover {
  background: var(--primary-color);
  color: #fff;

}

.header {
  text-align: center;
  margin: 1rem 0;
}

.header h1 {
  margin-bottom: 1rem;
}

.score {
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.2rem;
  color: rgb(135, 255, 177);
}

.score p:first-child {
  background: var(--primary-color);
}

.score p:last-child {
  background: var(--dark-color);
}

.choices {
  text-align: center;
  position: center;
}

.choice {
  cursor: pointer;
  background-color: rgb(24, 175, 175);
  border-radius: 100px;
}

.choice:hover {
  color: var(--primary-color);
}

.text-win {
  color: var(--win-color);
}

.text-lose {
  color: var(--lose-color);
}

@media(max-width: 700px){
  .choice {
    font-size: 110px;
  }
}

@media(max-width: 500px){
  .choice {
    font-size: 80px;
  }
}

img:hover {
  animation: shake 2s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: rotate(15deg); }
  10% { transform: rotate(-20deg); }
  20% { transform: rotate(20deg); }
  30% { transform: rotate(-20deg); }
  40% { transform: rotate(20deg); }
  50% { transform: rotate(-20deg); }
  60% { transform: rotate(20deg); }
  70% { transform: rotate(-20deg); }
  80% { transform: rotate(20deg); }
  90% { transform: rotate(-20deg); }
  100% { transform: rotate(20deg); }
}


  


